/* Miniminivån av reset: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(34, 78, 34);
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  padding-bottom: 40px;
}

.hero-container {
  height: 120vh;
  text-align: center;
  padding-left:5%;
  padding-right:5%;
}
.phrase {
  display: flex;
  text-align: end;
  vertical-align: super;
  font-size: 3.5vw;
  padding-top: 50vh;
}
h1 {
  font-family: fantasy; /*testar*/
  /* font-size:170px; */
  font-size: 13.4vw;
}
.general-container {
  max-width: 80%;
}
img {
  height: 60px;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.duo-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.contact-info {
  padding: 30px;
}
.form-container {
  padding: 30px;
}

/* @media (max-width:600px){
	 mobile first 
}
@media (min-width:600px){
	 desktop first 
}   */
