/* Miniminivån av reset: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(34, 78, 34);
  color: rgb(241, 223, 201);
  font-family: Arial, Helvetica, sans-serif;
}
section {
  margin-bottom: 40px;
}
/* section #home {
  margin-bottom: 0;
} */
nav {
  display: flex;
  align-items: center;
}
nav a {
  color: rgb(241, 223, 201);
  padding: 10px;
  text-decoration: dotted;
}
nav a:hover {
  border-color: rgb(241, 223, 201);
  border-radius: 20%;
  border-style: groove;
}
.hero-container {
  height: 100vh;
  position:relative;
}
.hero-container .sub-hero {
  /* margin-left: 10%;
  margin-right: 10%; */
  position:absolute;
  bottom:0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: min-content;
}
.phrase {
  grid-column: 2;
  /* text-align: end; */
  align-self: self-end;
  font-size: 3vw;
  padding-right: 10%;
}
.doodle-container {
width:100%; 
  /* height: 400px; */
  padding-bottom: 20%;
  padding-right: 0;
}
/* .doodle-container img{
 
} */
h1 {
  text-align: center;
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14vw;
  padding-left: 2%;
  padding-right: 2%;
}
h2 {
  padding-bottom: 10px;
  padding-left: 10%;
}
.general-container {
  padding-left: 10%;
  padding-right: 10%;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.duo-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: min-content;
}
/* .right-side-duo {
} */
.triple-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: min-content;
}
.project-card {
  max-height: 100px;
}
.project-image {
  width: 100%;
  border-radius: 10%;
}
.quote {
  font-style: italic;
  margin-bottom: 10px;
}
.contact-info {
  padding: 30px;
}
.form-container {
  padding: 30px;
}
div a {
  color: rgb(241, 223, 201);
  font-weight: 700;
  text-decoration: dotted;
}
div a:hover {
  color: cyan;
}
footer a {
  color: rgb(241, 223, 201);
  font-weight: 700;
  text-decoration: dotted;
}
footer a:hover {
  color: burlywood;
}
/* @media (max-width:600px){
	 mobile first 
}
@media (min-width:600px){
	 desktop first 
}   */
