/* Miniminivån av reset: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(34, 78, 34);
  color: rgb(241, 223, 201);
  /* <weight>: Use a value from 100 to 900*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section {
  scroll-margin-top: 90px;
  margin-bottom: 60px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(34, 78, 34);
}
nav {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 0.5rem;
}
.nav-title {
  position: absolute;
  left: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.nav-title.show {
  opacity: 1;
  visibility: visible;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
nav a {
  color: rgb(241, 223, 201);
  padding: 0px;
  text-decoration: none;
  font-weight: 400 !important;
}
nav a:hover {
  /* border-color: rgb(241, 223, 201);
  border-radius: 20%;
  border-style: none; */
  color: burlywood;
}
.hero-container {
  height: 105vh;
  position: relative;
}
.hero-container .sub-hero {
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: min-content;
}
.phrase {
  grid-column: 2;
  align-self: self-end;
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.3vw;
  padding-right: 10%;
}
.doodle-container {
  max-width: 100%;
  max-height: 500px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20%;
  padding-right: 0;
  z-index: 1;
}
h1 {
  display: block;
  text-align: center;
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14vw;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 2;
}
h2 {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  padding-bottom: 20px;
  padding-left: 10%;
}
h3 {
  font-size: 1rem;
  padding-bottom: 5px;
}
.general-container {
  margin-left: 10%;
  margin-right: 10%;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.duo-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 10px;
  grid-auto-rows: min-content;
}
.triple-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: min-content;
}
.skill-card {
  border-color: rgb(241, 223, 201);
  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
  padding: 20px;
  p {
    font-size: 2rem;
  }
  img{
    margin:5px;
  }
}
.skill-card:hover {
  border-color: burlywood;
  color: burlywood;
  padding: 20px 16px 16px 20px;
  border-width: 4px;
}
.icon-img {
  max-height: 3rem;
  border-radius: 10px;
}
.project-card {
  display: flex;
  flex-direction: column;
  border-color: rgb(241, 223, 201);
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  p {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
  .project-links {
    margin-top: auto;
    text-align: center;
    font-size: 1rem;
  }
  .fa-globe {
    padding-left: 10px;
  }
}
.project-card:hover {
  border-color: burlywood;
  padding: 8px 8px 8px 8px;
  border-width: 4px;
}
.disabled-link {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: rgb(22, 51, 22);
}
.project-image {
  width: 100%;
  max-height: 12rem;
  border-radius: 10px;
  margin-bottom: 5px;
}
.quote-card {
  padding: 10px;
  text-align: center;
}
.quote {
  line-height: 1.3rem;
  font-style: italic;
  margin-bottom: 10px;
}
.quote-by {
  font-size: 0.8rem;
}
#contact .duo-container {
  border-color: rgb(241, 223, 201);
  border-radius: 10px;
  border-style: solid;
}
.contact-info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  line-height: 2rem;
}
.socials {
  margin-top: auto;
  font-size: 2rem;
}
.form-container {
  padding: 30px;
}
#contact .btn {
  display: block;
  max-width: 30%;
  background-color: rgb(34, 78, 34);
  color: rgb(241, 223, 201);
  font-weight: bold;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(241, 223, 201);
  padding: 10px;
  margin: 10px 10px 0px 0px;
}
#contact .btn:hover {
  color: burlywood;
  border-color: burlywood;
}
input,
textarea {
  background-color: rgb(241, 223, 201);
  border-radius: 5px;
}
div a {
  color: rgb(241, 223, 201);
  font-weight: 700;
  text-decoration: dotted;
}
div a:hover {
  color: burlywood;
}
footer {
  text-align: right;
  margin-right: 10%;
}
footer a {
  align-self: center;
  color: rgb(241, 223, 201);
  text-decoration: none;
  font-size: 0.5rem;
}
footer a:hover {
  color: burlywood;
}
/* @media (max-width:600px){
	 mobile first 
}
@media (min-width:600px){
	 desktop first 
}   */
